*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#pro-sec-1{
    width: 97.5%;
    /* border: 1px solid red; */
    height: 100%;
    cursor: pointer;
   padding-bottom: 20px;
   padding-top: 20px;
   border-radius: 7px;
}


#pro-card-1{
    border: 1.5px solid rgba(67, 67, 67, 0.268);
    border-radius: 7px;
    padding: 10px;
    height: 500px;
    /* padding-top: 20px; */
    padding-bottom: 15px;
}   

#pro-card-1:hover{
    box-shadow: 0px 0px 7px 3px rgba(124, 124, 124, 0.649);
}

#proinfo{
   width: 100%;
   height: 45%;
   /* border: 1px solid red; */
   position: relative;
   padding-left: 15px;
}


#cardimg{
    /* border: 1px solid red; */
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#pro-card-1:hover #cardpro{
    transform: scale(0.9);
}

#protitle{
    color: rgba(105, 105, 105, 0.864);
    /* margin-top: 15px; */
}

#pro-card-1:hover #protitle{
    text-decoration: underline;
    color: blue;
} 


#proprice{
    color: blue;
}

#prorate{
    text-align: center;
    width: 18%;
    color: white;
    background-color: green;
    padding: 1px;
    border-radius: 7px;
}

.addbtn{
    width:150px;
    /* margin-right: 3%; */
    height: 33px;
    border-radius: 7px;
    background-color: orange;
    color: white;
    position: absolute;
    left: 26%;
    bottom: 0%;
}   


.addbtn:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 10px 3px rgba(105, 105, 105, 0.459);
}

.cartnom{
    background-color: #F5704D;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 10px;
}

.maincart{
    position: relative;
}