*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}



#card{
    text-align: center;
    position: relative;
    padding: 25px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid black; */
}
#butt{
        width: 200px;
        height: 35px;
        background-color: orange;
        position: absolute;
        border-radius: 10px;
        color: white;
        left: 29%;
        bottom: 7%;
}
#image{
    height: 150px;
    /* margin-left: 210px; */
}